/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--bg-color);
  font-size: 18px;
  font-family: 'IBM Plex mono';
  min-block-size: 100vh;
  padding: 0 10px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-content: center;
  position: relative;
}

.header__theme-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__theme-menu-list{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: transparent;
  font-size: inherit;
  font-weight: 400;
  border: none;
  text-transform: lowercase;
  color: var(--accent-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu {
  grid-row: 1;
  font-size: inherit;
  justify-self: flex-end;
}

.header__title {
  grid-row: 2;
}

.main_shadow {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: inherit;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-decor);
  line-height: 83%;
}

.header__subtitle-wrapper {
  grid-row: 3;
  justify-self: flex-end;
  align-self: center;
}

.title__decor {
  display: inline-block;
  inline-size: 100%;
  color: var(--bg-color);
  background-color: var(--accent-color);
  font-size: inherit;
}

.header__subtitle {
  line-height: 23.4px;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
}

@media (width >= 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

.rec {
  position: absolute;
  top: 10px;
  right: 9px; /* Вычитаем 10px, тк это паддинг сбоку для всей страницы */
  font-size: inherit;
  font-weight: 400;
  line-height: 25px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec::after {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: var(--accent-color);
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.corner {
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.corner::before {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  border: 1px solid var(--accent-color);
}

.corner__top-right {
  top: 10px;
  right: 0px;
}

.corner__top-right::before{
  border-bottom: none;
  border-left: none;
}

.corner__bottom-left {
  bottom: 10px;
  left: 0px;
}

.corner__bottom-left::before {
  border-top: none;
  border-right: none;
}

.content-section:first-child {
  margin-block-start: 40px; 
}

.content-section:not(:first-child) {
  margin-block-start: 50px; /* Отступ между секциями в 50 px */
}

.content-section_title {
  color: var(--accent-color);
  font-size: inherit;
  font-weight: bold;
  line-height: 23.4px;
  padding-block-end: 20px;
}

.content-article__title {
  font-size: inherit;
  font-weight: 700;
  line-height: 23.4px;
}

.content-article__text {
  font-family: inherit;
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.content-article:last-child .content-article__text:last-of-type {
  padding-block-end: 0px; /* Убираем отступ у последнего абзаца */
}

.text__shadow {
  text-shadow: 2px 2px var(--accent-color);
  text-decoration: none;
}

.text__shadow:hover {
  border-bottom: 1px solid var(--text-color);
}

.text__shadow:focus {
  outline: none;
}

.text__shadow:focus-visible {
  outline: 1px solid var(--text-color);
}

.content-section_subtitle {
  margin-block-end: 20px;
}

.title__decor_rules {
  display: inline-block;
  inline-size: 100%;
  background-color: var(--accent-color);
  color: var(--bg-color);
  font-weight: 400;
}

/* .heading__gallery {
  margin-block-end: 10px;
} */

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
  gap: 10px;
  margin-block-end: 40px;
}

.gallery img {
  inline-size: 100%;
  display: block;
  object-fit: cover;
}

.footer {
  block-size: 100vh;
  min-block-size: 667px;
  display: grid;
  place-items: center;
  position: relative;
}